@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(242, 242, 242);
}

.headerMain{
    margin: 0%;
    height: 150px;
    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: center;
    justify-content: center;
}

.headerMain > h1{
    color: rgb(59, 72, 169);
    margin: 0%;
    font-size: 4rem;
    font-family: 'Work Sans', sans-serif
}

.headerMain > nav{
    margin: 0%;
    width: 90%;
    
    font-family: 'Roboto Slab', serif;

    display: flex;
    justify-content: flex-end;
}

.headerMain > nav > a{
    font-size: 1.3rem;
    text-decoration: none;
    color: rgb(59, 72, 169);
    margin: 0 10px;
}

.headerMain > nav > a:hover{
    text-decoration: underline;
}

hr{
    background-color:  rgb(59, 72, 169);
}

.img-container{
    
    width: 250px;
    height: 250px;
}

.img-container > img{
    border: 2px solid rgb(59, 72, 169);
    border-radius: 20px;
    width: 250px;
    height: 250px;
}

.products{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.product-container{
    display: flex;
    flex-flow: column;
    width: 250px;
    align-items: center;
}

.product-container > p{
    margin: 0 auto;
    font-family: 'Merriweather', serif;
}

.product-container > button{
    width: 100px;
    border: 2px solid rgb(59, 72, 169);
    border-radius: 20px;
    background: none;
    padding: 5px;
    outline: none;
}

.info-text{
    font-size: 1.3rem;
    margin-bottom: 10px;
    text-decoration: underline;
    width: 400px;
}